.slider{
   /* top:124px; */
    width:auto; 
    height:100%;
    position:relative;
}
.slider .slider_item:before{
  z-index:1;
  content:'';
  position: absolute;
  display: block;
  background: #1d1b1b6b;
  height: 100%;
  width:100%;
}
.BannerContent{
    position:absolute;
    top:30%;
    z-index:2;
    transform: translate(250px, 20px);
    width:700px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    
}
.slider .slick-slide img {
    width:100% !important;
    height:450px !important;
}

.slider h2{
    font-size: 50px;
    font-family: "SFUIDisplayBold";
    color: white;
    font-weight: bold;
}
.slider p{
    display:-webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    color:white !important;
    overflow:hidden;
    text-align: center;
}
.caraousalButton{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 19px;
    width:200px;
    position: absolute;
    right:35%;
    height:50px;
}
.caraousalButton:hover{
    background-color: white;
    color: black;
    border: none;
}
@media (max-width: 1199.98px) { 
    .BannerContent{
        position:absolute;
        top:50%;
        transform: translate(70%, -50%);
        width: 400px;
        padding: 10px;
        z-index:2;
        
    }
    .slider .slick-slide img {
        width:100% !important;
        height:250px !important;
    }
    
    .slider h1{
        font-size: 50px;
        font-family: "SFUIDisplayBold";
        color: white;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-weight: bold;
    }
    .slider p{
        display: none;
    }
    .caraousalButton{
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 19px;
        position: absolute;
        transform: translate(40px, 10px);
        height:50px;
    }
    .caraousalButton:hover{
        background-color: white;
        color: black;
        border: none;
    }

 }

@media (max-width: 991.98px) { 
    
    .BannerContent{
        position:absolute;
        top:50%;
        transform: translate(50%, -50%);
        width: 400px;
        padding: 10px;
        z-index:2;
        
    }
    .slider .slick-slide img {
        width:100% !important;
        height:200px !important;
    }
    
    .slider h1{
        font-size: 40px;
        font-family: "SFUIDisplayBold";
        color: white;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-weight: bold;
    }
    .slider p{
        display: none;
    }
    .caraousalButton{
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 19px;
        position: absolute;
        transform: translate(40px, 10px);
        height:50px;
    }
    .caraousalButton:hover{
        background-color: white;
        color: black;
        border: none;
    }

}
@media (max-width: 767.98px) { 
    .slider{
        /* margin-top:80px; */
        width:100%;
        position: relative;
    }
    .BannerContent{
        position:absolute;
        top:50%;
        transform: translate(40%, -50%);
        width: 400px;
        padding: 10px;
        z-index:2;
        
    }
    .slider .slick-slide img {
        width:100% !important;
        height:200px !important;
    }
    
    .slider h2{
        font-size: 30px;
        font-family: "SFUIDisplayBold";
        color: white;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-weight: bold;
    }
    .slider p{
        display: none;
    }
    .caraousalButton{
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 19px;
        position: absolute;
        transform: translate(40px, 10px);
        height:50px;
    }
    .caraousalButton:hover{
        background-color: white;
        color: black;
        border: none;
    }
    
 }

@media (max-width: 575.98px) { 
    .slider{
        /* margin-top:80px; */
        width:100%;
        position: relative;
    }
    .BannerContent{
        position:absolute;
        top:50%;
        width: 230px;
        height: 120px;
        transform: translate(10%, -50%);
        padding: 10px;
        z-index:2;
        
    }
    .slider .slick-slide img {
        width:100% !important;
        height: 200px !important;
    }
    
    .slider h2{
        font-size: 22px;
        font-family: "SFUIDisplayBold";
        color: white;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-weight: bold;
    }
    .slider p{
        display: none;
    }
    .caraousalButton{
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 19px;
        width: 120px;
        position: absolute;
        transform: translate(20px, 10px);
        height:40px;
    }
    .caraousalButton:hover{
        background-color: white;
        color: black;
        border: none;
    }
    
}



